PORT=5000
MONGO_URI=mongodb+srv://khursheedskai_db_user:xzWVsWAYbtKk4jw4@sbstocks-cluster.vk8dik3.mongodb.net/sbstocks?retryWrites=true&w=majority&appName=sbstocks-cluster
JWT_SECRET=supersecretjwtkey
ALPHA_VANTAGE_API_KEY=XF6YPYRTOBRQLEE7